<mat-card class="section__lista-card" (click)="detail(3)">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon
          *ngFor="let _ of [].constructor(product.valoracion)"
          class="section__lista-arrow"
          aria-hidden="false"
          aria-label="Valoracion icon"
          fontIcon="star"
        ></mat-icon>
      </mat-card-subtitle>
      <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
      <img mat-card-sm-image [src]="product.image" />
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
