<div><h1>Listado de Productos</h1></div>
<div>
  <agri-buscador-productos></agri-buscador-productos>
</div>
<div class="section">
  <div class="section__lista">
    <agri-product-star [product]="product" *ngFor="let product of listProducts"></agri-product-star>
    <mat-icon
      class="section__lista-arrow"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="arrow_back"
    ></mat-icon>
    <mat-icon
      class="section__lista-arrow"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="arrow_forward"
    ></mat-icon>
  </div>
  <div>
    <google-map width="750px" height="450px" [center]="center" [zoom]="zoom">
    </google-map>
  </div>
</div>
