.section {
  display: flex;
  padding: 30px;
}

.section-title {
  margin-bottom: 3px;
}

.section-subheader {
  font-style: italic;
}

.section-desc {
  margin-top: 20px;
}

.section-text {
  margin-right: 40px;
}

.section-image {
  width: 300px;
  border-radius: 20px;
}
