<div class="section">
  <div class="section-text">
    <h1 class="section-title">Agricultura Sostenible</h1>
    <div class="section-subheader">Cercana</div>
    <div class="section-desc">
      La agricultura sostenible y cercana es un enfoque que busca producir
      alimentos de manera responsable, teniendo en cuenta la salud del medio
      ambiente, la viabilidad económica y el bienestar social. Se basa en la
      utilización de prácticas agrícolas que minimizan el impacto negativo en
      los ecosistemas, promueven la conservación de los recursos naturales y
      fomentan la biodiversidad.
    </div>
  </div>
  <div>
    <img
      class="section-image hide-on-mobile"
      src="../../../../assets/brocoli.jpg"
      alt="brocoli"
      title="brocoli"
    />
  </div>
</div>
