<div class="section">
  <div class="section-text">
    <h1 class="section-title">Agricultura Sostenible</h1>
    <div class="section-subheader">Cercana</div>
    <div class="section-desc">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua"
    </div>
  </div>
  <div>
    <img
      class="section-image hide-on-mobile"
      src="../../../../assets/brocoli.jpg"
      alt="brocoli"
      title="brocoli"
    />
  </div>
</div>
