<footer>
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Referencias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="row">
      Jesús Cuesta Arza © 2023 UOC - All rights reserved
    </div>
  </div>
</footer>
