<footer>
  <div class="footer">
    <div class="row">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
    </div>

    <div class="row">
      <ul class="footer__list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Referencias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="row">
      Jesús Cuesta Arza © 2023 UOC - All rights reserved
    </div>
  </div>
</footer>
