<div class="section">
  <div>
    <h2 class="section-title">Opiniones de Usuarios</h2>
  </div>
  <div class="subheaders">
    <div class="subheaders__section">
      <div class="subheaders__section-title">Andrés Pérez</div>
      <div class="subheaders__section-description">
        Una forma mas cercana de vender los productos
      </div>
    </div>
    <div class="subheaders__section">
      <div class="subheaders__section-title">María Jiménez</div>
      <div class="subheaders__section-description">
        Ahora sé dónde puedo encontrar verduras buenas y baratas
      </div>
    </div>
    <div class="subheaders__section">
      <div class="subheaders__section-title">Jose Cuesta</div>
      <div class="subheaders__section-description">
        Ahora compro más productos plantados en mi pueblo
      </div>
    </div>
    <div class="subheaders__section">
      <div class="subheaders__section-title">Jose Cuesta</div>
      <div class="subheaders__section-description">
        Ahora compro más productos plantados en mi pueblo
      </div>
    </div>
    <div class="subheaders__section">
      <div class="subheaders__section-title">Jose Cuesta</div>
      <div class="subheaders__section-description">
        Ahora compro más productos plantados en mi pueblo
      </div>
    </div>
  </div>
</div>
