<div class="section">
  <div>
    <h2 class="section-title">Agricultura Local</h2>
    <div class="section-description">
      Cultivar y producir alimentos cerca de los lugares de consumo
    </div>
  </div>
  <div class="subheaders">
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="eco"
      ></mat-icon>
      <div class="subheaders__section-title">Distancia reducida</div>
      <div class="subheaders__section-description hide-on-mobile">
        Los alimentos no tienen que viajar largas distancias para llegar a los
        consumidores, lo que reduce la huella de carbono asociada con el
        transporte
      </div>
    </div>
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="restaurant"
      ></mat-icon>
      <div class="subheaders__section-title">Productos Frescos</div>
      <div class="subheaders__section-description hide-on-mobile">
        Los alimentos suelen ser más frescos y conservan mejor su sabor, textura
        y nutrientes
      </div>
    </div>
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="swap_horiz"
      ></mat-icon>
      <div class="subheaders__section-title">Apoyo economía local</div>
      <div class="subheaders__section-description hide-on-mobile">
        Esto puede ayudar a fortalecer la resiliencia económica y reducir la
        dependencia de las importaciones de alimentos
      </div>
    </div>
  </div>
</div>
