<div class="section">
  <div>
    <h2 class="section-title">Productos Cercanos</h2>
    <div class="section-description">Del Huerto a la mesa</div>
  </div>
  <div class="subheaders">
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <div class="subheaders__section-title">Hortalizas</div>
      <div class="subheaders__section-description">Texto hortalizas</div>
    </div>
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <div class="subheaders__section-title">Hortalizas</div>
      <div class="subheaders__section-description">Texto hortalizas</div>
    </div>
    <div class="subheaders__section">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <div class="subheaders__section-title">Hortalizas</div>
      <div class="subheaders__section-description">Texto hortalizas</div>
    </div>
  </div>
</div>
