.section {
  padding: 30px;
  text-align: center;
}

.section__header {
  margin-bottom: 15px;
}

.section__header-title {
  margin-bottom: 3px;
}

.section__header-description {
  font-style: italic;
}

.subheaders {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.subheaders_title {
  width: 100%;
  padding-bottom: 10px;
}

.subheaders_title-principal, .subheaders_title-secondary {
  text-align: center;
}

.card-image {
  height: 200px;
  overflow-y: hidden;
}

.subheaders__section {
  width: 33%;
  padding: 15px;
}

.subheaders__section-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-top: 10px;
}

.subheaders__section-description {
  font-style: italic;
}

