.section {
  margin-top: 30px;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.section__users {
  margin-top: 30px;
}

.section__opinion {
  display: flex;
  padding-left: 30px;
}

.section__opinion-person {
  width: 200px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.section__opinion-person {
  display: flex;
}

.section__opinion-ico {
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px;
  height: 25px;
  margin-top: 5px;
}

.author-name {
  font-weight: bold;
}

.author-date {
  font-style: italic;
}

.author-star {
  margin-top: 3px;
}

.author-ico {
  font-size: 1.3em;
}
