.section {
  padding: 30px;
  text-align: center;
}

.section__header {
  margin-bottom: 15px;
}

.section__header-title {
  margin-bottom: 3px;
}

.section__header-description {
  font-style: italic;
}

.subheaders {
  display: flex;
  justify-content: space-between
}

.subheaders-card {
  max-width: 300px;
}

.subheaders-desc {
  padding: 10px;
}

.subheaders_title {
  width: 100%;
  padding-bottom: 10px;
}

.subheaders_title-principal, .subheaders_title-secondary {
  text-align: center;
}

.card-image {
  height: 200px;
  overflow-y: hidden;
}
