<div class="section">
  <div class="section__header">
    <h2 class="section__header-title">Productos Cercanos</h2>
    <div class="section__header-description">Del Huerto a la mesa</div>
  </div>
  <div class="subheaders">
    <mat-card class="subheaders-card">
      <mat-card-header>
        <div class="subheaders_title">
          <mat-card-title
            ><div class="subheaders_title-principal">
              Hortalizas
            </div></mat-card-title
          >
          <mat-card-subtitle
            ><div class="subheaders_title-secundary">
              Vitaminas
            </div></mat-card-subtitle
          >
        </div>
      </mat-card-header>
      <img
        class="card-image"
        mat-card-image
        src="../../../../assets/hortalizas.jpg"
        alt="Hortalizas"
      />
      <mat-card-content>
        <p class="subheaders-desc">
          Son una excelente fuente de nutrientes esenciales para nuestro cuerpo,
          como vitaminas, minerales y fibra
        </p>
      </mat-card-content>
    </mat-card>
    <!-- -->
    <mat-card class="subheaders-card">
      <mat-card-header>
        <div class="subheaders_title">
          <mat-card-title
            ><div class="subheaders_title-principal">
              Frutas
            </div></mat-card-title
          >
          <mat-card-subtitle
            ><div class="subheaders_title-secundary">
              Fibra
            </div></mat-card-subtitle
          >
        </div>
      </mat-card-header>
      <img
        class="card-image"
        mat-card-image
        src="../../../../assets/frutas.jpg"
        alt="Frutas"
      />
      <mat-card-content>
        <p class="subheaders-desc">
          Son ricas en fibra dietética, tanto soluble como insoluble. La fibra
          ayuda a regular el sistema digestivo
        </p>
      </mat-card-content>
    </mat-card>
    <!---->
    <mat-card class="subheaders-card">
      <mat-card-header>
        <div class="subheaders_title">
          <mat-card-title
            ><div class="subheaders_title-principal">
              Verduras
            </div></mat-card-title
          >
          <mat-card-subtitle
            ><div class="subheaders_title-secundary">
              Antioxidantes
            </div></mat-card-subtitle
          >
        </div>
      </mat-card-header>
      <img
        class="card-image"
        mat-card-image
        src="../../../../assets/verduras.jpg"
        alt="Verduras"
      />
      <mat-card-content>
        <p class="subheaders-desc">
          Contienen una amplia variedad de antioxidantes que ayudan a proteger
          las células del daño causado por los radicales libres
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
